.container {
  margin: 10px;
}

.field {
  margin-bottom: 10px;
}

.radio-group {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.selected {
  background-color: #cce5ff;
  cursor: pointer;
}

.mat-error {
  color: red;
  font-size: 12px;
}

.success {
  margin-top: 10px;
  color: green;
}

.error {
  margin-top: 10px;
  color: red;
}
