html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

.content {
  padding: 16px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.section-header {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

